@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
:root {
    --mainPage: #E5E5E5;
    --task_card-headColor:#FFDC40;
    --plusButton:#9953F1;
    --addButton:#833AE0;
    --borderColor:#C4C4C4;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {

    height: 100vh;
}

.body_wrapper {
    padding: 17px 22px 17px 28px;
}

.border {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
}

.without_border {
    border:none
}

.task_card {
    width: 336px;
}

.header_title {
    margin-bottom: 1rem;
}

.task_card-head {
    background: var(--task_card-headColor);
    height: 28px;
    border: 1px solid var(--task_card-headColor);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.flex-dir_col {
    flex-direction: column;
}

.regulate_wrapper {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.regulate:hover svg rect,
.regulate:hover svg path
{
    fill: #000;
}

.up path {
    transform: rotate(180deg);
    transform-origin: 14% 48%;
  }
  
.up rect:first-child {
      transform: rotate(180deg);
      transform-origin: 14% 48%;
  }

  
.new-task_input {
    width: 286px;
    height: 40px;
    padding: 5px 15px;

}

.visible {
    display: none;
}

.submit_button {
   position: relative; 
   margin: 18px auto;
  
}

#new-task_create {
    background: var(--plusButton);
    border-radius: 50%;
    color: #fff;
    height: 42px;
    width: 42px;
    border: none;
    position: absolute;
    cursor: pointer;
}

#new-task_submit {
    background: var(--addButton);
    border-radius: 70px;
    color: #fff;
    width: 150px;
    height: 42px;
    border: none;
    cursor: pointer;
}

button,
input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}


.edit:hover svg,
.delete:hover svg {
    fill: #9953F1;
    cursor: pointer;
}



